# CMake build files
build
install
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_uninstall.cmake
reiconv.hpp
CTestCostData.txt
Testing
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
pdb
tests/check-encoding
tests/check-stateful
tests/check-stateless
tests/data-generator
tests/sort
tests/test-bom-state
tests/test-discard
windows/cppp-reiconv.rc
*.inst
*.log
*.dSYM
*.so
*.so.*.*.*
*.a
*.dylib
*.stackdump
*.lib
*.pdb
*.dll
*.exe
*.sln
*.out
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.user.*
build.ninja
.ninja_*
Release/
Debug/
RelWithDebInfo/
MinSizeRel/
x64/
x86/
ARM/
ARM64/
*.suo
*.user
*.user.*
*.dir
__pycache__

# Dist files
dist/
cppp-reiconv-*
*.tar.xz
*.deb

# Makefile.devel temp files
lib/generated/genaliases
lib/generated/genindexes
lib/generated/check-encodings
*.gperf

# Patterns for all subdirectories: all kinds of automatic backup files.
*.orig
*.rej
*~
*.kate-swp
*.swp
.#*
\#*#
.vscode/
.cache/

# Submodules.
build-aux/
cppp-platform/

# Temp tests files.
tests/data/UTF-8.TXT
tests/data/GB18030-2005.TXT
tests/data/GB18030-2022.TXT
tests/tmp-*.TXT
*.tmp
*.dump
benchmark/benchmark
