# CMake build files
build/

# Patterns for all subdirectories: all kinds of automatic backup files.
*.orig
*.rej
*~
*.kate-swp
*.swp
.#*
\#*#
.vscode

# Autopull modules
/build-aux/

# Temp tests files.
/tests/data/UTF-8.TXT

# Dist directory and temps
cppp-reiconv-v*
__pycache__
